{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Edit User Profile{% endblock %}
{% block content %}

	 
<div class="container">

    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'show_profile_page' object.pk %}" class="btn btn-light">Back To Profile</a>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h5>Update Your Profile (all fields are optional to display)</h5>
            <h6>This information is seperate from your User Settings</h6>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
